:root {
  --primary-color-white: #ffffff;
  --secondary-color-light-grey: rgb(250, 250, 250);
  --text-color-grey: rgb(41, 40, 40);
  --text-color-red: #dc2626;
  --text-color-green: #16a34a;
  --text-color-black: #000000;
  --headings-font-family: "Alfa Slab One", serif;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  --logo-title-font-family: "Oswald", sans-serif;
  --card-title-font-family: "Fredoka", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color-white);
}

/* responsive styles */
@media (max-width: 960px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    align-items: center;
    width: 100%;
  }

  .nav-list {
    justify-content: center;
    gap: 1.5rem;
  }

  .logo-title {
    align-items: center;
  }
}

@media (max-width: 615px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
  }
}

/* Header styles */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 7px 13px -5px rgba(199, 230, 192, 0.75);
  -webkit-box-shadow: 1px 7px 13px -5px rgba(199, 230, 192, 0.75);
  -moz-box-shadow: 1px 7px 13px -5px rgba(199, 230, 192, 0.75);
  background-color: var(--primary-color-white);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Logo styles */

.logo-title {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-family: var(--logo-title-font-family);
  font-weight: 700;
  color: var(--text-color-red);
}

.logo-title .logo {
  height: auto;
  max-height: 10vh;
  width: auto;
}

.logo-title .title {
  font-size: 2rem;
  font-family: var(--secondary-font-family);
  font-weight: lighter;
  text-transform: uppercase;
}

/* Navigation links */

.nav-links {
  display: flex;
  padding: 1rem;
  margin-right: 2%;
}

.nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: small;
  font-weight: 500;
}

.pipes {
  color: var(--text-color-black);
  margin: 0.5rem;
}

.nav-a {
  display: flex;
  text-decoration: none;
  align-items: center;
  gap: 1rem;
  letter-spacing: 0.1rem;
  color: var(--text-color-green);
  transition:
    0.4s ease,
    transform 0.4s ease;
}

.nav-a:hover {
  color: var(--text-color-red);
  transform: scale(1.05);
}

.nav-a:active {
  color: var(--text-color-red);
}

/* Hero section */
.hero-section {
  height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/hero-section.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color-white);
  text-align: center;
}

.hero-content h1 {
  font-family: var(--headings-font-family);
  font-family: serif;
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.hero-title {
  font-family: var(--headings-font-family);
}

.hero-content h3 {
  font-family: var(--secondary-color-light-grey);
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.hero-content button {
  padding: 1.5rem 2.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--text-color-green);
  color: var(--primary-color-white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.hero-content button:hover {
  background-color: #097932;
  transform: scale(1.05);
}

/* About section style */

.about-section {
  display: flex;
  gap: 2rem;
  padding: 4rem 2rem;
  max-height: 60vh;
  box-sizing: border-box;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-title {
  font-family: var(--secondary-font-family);
  font-size: 3rem;
  font-weight: 600;
  color: var(--text-color-red);
  margin-bottom: 1rem;
}

.about-para {
  font-family: var(--primary-font-family);
  font-size: 1.5rem;
  line-height: 0.4rem;
  font-weight: 400;
}

.about-para2 {
  font-family: var(--primary-font-family);
  font-size: 1.3rem;
  font-style: italic;
}

.mini-title {
  font-family: var(--secondary-font-family);
  font-size: 1.7rem;
  color: var(--text-color-green);
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.about-content,
.about-images {
  flex: 1 1 50%;
  box-sizing: border-box;
}

.about-images {
  display: flex;
  flex-direction: row;
  gap: 2rem;

  max-height: 100%;
}

.about-images figure {
  flex: 1;
  margin: 0;
  position: relative;
  overflow: visible;
}

.about-images figure figcaption {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: 3;
}
.about-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

figure .image1 {
  transform: translateY(-30px);
  padding: 2rem 1rem;
  z-index: 2;
  border-radius: 2.5rem;
  transition:
    0.8s ease,
    transform 0.8s ease;
}

.image2 {
  transform: translateY(20px);
  padding: 2rem;
  border-radius: 2.5rem;
  transition:
    0.8s ease,
    transform 0.8s ease;
}

.image2:hover {
  transform: scale(1.05);
}
.image1:hover {
  transform: scale(1.05);
}

.btn {
  padding: 1.2rem 2.2rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--text-color-red);
  color: var(--primary-color-white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
}

.btn:hover {
  background-color: #c22121;
  transform: scale(1.05);
}

/* About Section Responsiveness */
@media (max-width: 770px) {
  .about-section {
    flex-direction: column;
  }

  .about-content,
  .about-images {
    flex: 1 1 100%;
  }
}

/* spaces and prices styling */

.spaces-prices h1 {
  font-family: var(--headings-font-family);
  font-family: serif;
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  color: rgb(48, 48, 48);
}
.heading-par {
  font-family: var(--headings-font-family);
  font-family: serif;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  color: rgb(204, 79, 79);
  margin-top: 4rem;
  text-transform: capitalize;
}

.heading-div {
  line-height: 1rem;
}

.spaces-prices {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color-light-grey);
}

.spaces-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.space-card {
  background-color: var(--primary-color-white);
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  padding: 1rem;
}

.space-card:hover {
  transform: scale(1.05);
  transition:
    transform 1s ease,
    box-shadow 1s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.image-card {
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.1rem;
}

.card-title {
  font-family: var(--primary-font-family);
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.card-description {
  font-family: var(--primary-font-family);
  text-align: center;
  line-height: 2rem;
  font-size: 1.3rem;
}

.price {
  font-family: var(--secondary-font-family);
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color-green);
}

.btn2 {
  padding: 0.8rem 1.8rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--text-color-red);
  color: var(--primary-color-white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
}

.btn2:hover {
  background-color: #c22121;
  transform: scale(1.05);
}

/* Amenities styles */

.amenities-section {
  background-image: url("/images/amenities-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.amenities-section-heading {
  font-family: var(--headings-font-family);
  font-weight: 400;
  font-size: 3rem;
  color: var(--primary-color-white);
  border: 0.1rem solid rgb(190, 49, 49);
  padding: 1rem;
  border-radius: 2rem;
  letter-spacing: 0.3rem;
}

.amenities-section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.amenities-card {
  border: 0.1rem solid green;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}

.amenities-card:hover {
  background-color: grey;
  transform: scale(1.1);
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
}

.amenities-card-content h4 {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--primary-color-white);
  font-family: var(--secondary-font-family);
}

.amenities-card-content p {
  font-size: 1.4rem;
  font-family: var(--primary-font-family);
}

.amenities-icon {
  background-color: rgb(212, 197, 212);
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.amenities-icon-image {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

/* contact section styles */
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #fafafa;
  padding: 5rem;
  justify-content: space-around;
}

.contact-div {
  max-width: 60rem;
  width: 100%;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  margin: 4rem;
}

.contact-heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.adress-par{
  font-size: 2.3rem;
  color: var(--text-color-red);
}

.adress {
  line-height: 3rem;
}

.contact-title {
  font-size: 3rem;
  color: var(--text-color-red);
}

.form-document {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 2rem;
}

.form-par {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: var(--text-color-red);
  padding: 1rem;
}

.form-content{
  padding: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  
}

.form-label {
  font-size: 2rem;
}

.form-input,
.form-textarea {
  border: .1rem solid rgb(197, 195, 195);
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  background-color: var(--secondary-color-light-grey);
  border-radius: 0.4rem;
  margin-right: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(220, 38, 38, 0.5); 
  border-color: var(--text-color-red); 
  
}

.btn3 {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border: none;
  background-color: var(--text-color-green);
  color: var(--primary-color-white);
  border-radius: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    transform 0.4s ease;
  align-self: flex-start;
  margin-top: 2rem;
}

.btn3:hover {
  background-color: #c22121;
  transform: scale(1.05);
}

.footer-section {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  background-color: rgb(240, 238, 238);
}
